@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LondrinaSolidRegular";
  src: url("./LondrinaSolid-Regular.ttf");
}
* {
  font-family: "LondrinaSolidRegular";
  /* background-color: black; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DAB63C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}